<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "mitch.jpg" %>
	</div>
	<div id="content">
		<h1>hey! I'm Marsh</h1>
		<p>Australia's preferred Test allrounder, Mitchell Marsh is a tall fast bowler who can hit 140kph and has shown promise as a lower middle-order batsman. Marsh squeezed Shane Watson out of the side during the 2015 Ashes tour of England and was given time to settle into the No.6 role, although his bowling was arguably the stronger feature of his game during 2015.</p>
		<a href="https://twitter.com/mitchmarsh235?lang=en">Tweet to Mitchel marsh to share some comments or gain some knowledge about cricket to learn more about cricket</a>
		<a herf="https://www.instagram.com/mitchmarsh235/?hl=en">Instagram to Mitchel marsh to share photos are visit his photos with teammates or his life style</a>
	</div>
</div>
